@font-face {
    font-family: 'fustatfont';
    src: url(assets/FustatFont.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    width:100vw;
    height:100vh;
    font-family: 'fustatfont', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #050608;
    color: #f5f5f5;
}

bottom{
    width:100%; 
    display:flex;
    justify-content:center;
    align-items:center;
    padding:15px
}

.box{
    display: flex;
    flex-direction: row;
    gap:14px;
}

.boxlein{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    background: #14161c;
    border-radius: 18px;
    padding: 14px 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.45);
    border: 1px solid #222631;
}

button{
    height:34px;
    display: flex;
    padding-left: 12px; padding-right: 12px;
    padding-top: 6px; padding-bottom: 6px;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 1px solid #CFCFCF;
}

buttondiv{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    padding:15px;
    gap: 15px;
}

corpus{ 
    display: flex; 
    width: 1336px; 
    gap:4px; 
    background-color: #050608; 
    color: #f5f5f5; 
}

#filterer{
    display: flex;
    gap:10px;
}

.filteroff{
    background: none;
    border:1px solid #505050!important;
    color:white;
}

.footernext{
    border: 1px solid #505050!important;
    color:#ffffff;
    background-color: #14161c!important;
    width:60px;
    border-radius: 0px 40px 40px 0px;
}
.footerprev{
    border: 1px solid #505050!important;
    color:#ffffff;
    background-color: #14161c!important;
    width:60px;
    border-radius: 40px 0px 0px 40px;
}

g{
    color:#00CC00;
}

/*
.historytable {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
.historytable td:nth-child(1) { width: 14%; }
.historytable td:nth-child(2) { width: 57%; background-image: url(assets/spo2.png); background-repeat: no-repeat;}
.historytable td:nth-child(3) { width: 14%; }
.historytable td:nth-child(4) { width: 14%; }
*/

.headtrends{
    height:70px;
    width:100%;
    display: flex;
    align-items: center;
}

.headtitle{
    min-height:60px;
    height:100%;
    display: flex;
    align-items: center;
}

#highlightwrap{
    height:380px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-color: #14161c;
}

.historynumber{
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: center;
    font-size: 32px;
}
.historynumbertime{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color:#CFCFCF;
    font-size: 16px;
}

.historygraph{
    display: flex;
    flex: 7;
    background-image: url(assets/doublehr.png); 
    background-repeat: no-repeat;
    background-position: center;
    height: 100%; 
}

.historywidget{
    width:100%;
    height:60px;
    display:flex;
    flex-direction: row;
    margin: 2px 0;
    padding: 2px;
    align-items: center;
    border:1px solid #14161c;
}
.historywidget.selected {
    border-color: #FA7921;
    border-radius: 12px;
}
.historywidget.selected .historynumber {
    color: #FA7921; /* orange */
}

#historywrap{
    height:380px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-color: #14161c;
    border-radius: 12px;
}

.markbutton{
    display: flex;
    flex: 1;
    border-color: #FA7921;
    background-color: #14161c;
    color:white;
}
.markbutton.active {
    background-color: #FA7921;
    color: #14161c;
}

#markcontainer {
    position: relative;
    width:94%;
    height:20px;
    display: flex;
    flex-direction: row;
}


minmax{
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    color: #FFFFFF;
    justify-content: center;
    gap:0;
}

number{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}

o {
    color:#FA7921;
}

#overviewwrap{
    height:380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    border:none;
}

.page-title {
  font-size: 18px;
  font-weight: 500;
  margin: 24px 24px 12px;
  color: #ffffff;
}

r{
    color:#EB4438;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:5px;
}

.rowlower{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:5px;
}

section1{
    height: 100%;
    display:flex;
    flex:3;
    flex-direction: column;
    justify-content: space-between;
    margin-left:5px;
}

section2{
    height:100%;
    background-color: #14161c;
    border-radius: 18px;
    padding: 14px 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.45);
    border: 1px solid #222631;
    margin-right:5px;
    display: flex;
    flex-direction: column;
    flex:4;
    max-width: 760px;
    
}

.section2nav{
    width:100;
    height:70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.section2head{
    width:100%;
    display: flex;
}

.selectionoff {
    background-color: #14161c;
    border: none;
    color:#ffffff
}

timecontainer{
    display: flex;
    flex-direction: column;
    height:55px;
    width:100%;
    align-items: center;
}

t {
  font-size: 13px; 
  font-weight: 500;
  color: #a5abb5;
  margin-bottom: 8px;
}

top{
    width:100%; 
    height:50%; 
    display:flex;
    justify-content:space-between;
    align-items:center;

}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  background: #050608;
  border-bottom: 1px solid #222;
  font-size: 14px;
  color: #a5abb5;
  width:100%;
}

w{
    width:100%;
    height:130px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top:2px;
    margin-bottom:2px;
    gap:4px!important;
}

#waveform {
    background-image: url(assets/trendsupdate.png);
    background-position: center;
    background-repeat: no-repeat;
    height:100%;
    position: relative;
    display: flex;
    background-size: cover;
    width:95%;
    border:1px solid #2F2F2F!important;
}

.wave-line {
    position: absolute;
    top: 0;
    width: 2px;
    height: 100%;
    background: #FA7921;
    pointer-events: none; /* Allow clicks to pass through */
    transition: left 0.2s ease;
  }


.wavemark{
    position:absolute;
    width:3px;
    height:20px;
    background:#FA7921;
    top:50%;
    transform:translate(-50%, -50%);
    z-index:15;
}

.wavewidget{
    width:100%;
    height:60px;
    display:flex;
    flex-direction: row;
    margin: 2px 0;
    padding: 2px;
    align-items: center;
    border:1px solid #14161c;
}

.wavenumber{
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: center;
    font-size: 32px;
}
.wavenumbertime{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color:#CFCFCF;
    font-size: 16px;
}

.wavegraph{
    display: flex;
    flex: 7;
    background-image: url(assets/doublehr.png); 
    background-repeat: no-repeat;
    background-position: center;
    height: 100%; 
}

#wavewrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    height:380px;
    width:100%;
    align-items: center;
    border:1px solid #14161c;
}

widget{
    width:100%;
    height:130px;
    background-color: #14161c;
    border-radius: 18px;
    padding: 14px 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.45);
    border: 1px solid #222631;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 0;
    top: 0;
    margin-top:2px;
    margin-bottom:2px;
}

/* Hide number and button for this specific widget */
.widgetdeactivated .historynumbertime,
.widgetdeactivated .markbutton {
    visibility: hidden;
}
/* Keep graph proportion same as other widgets */
.widgetdeactivated .historygraph {
    flex: 7; /* same as other widgets */
}
/* Optional: center the graph vertically if needed */
.widgetdeactivated {
    justify-content: flex-start; /* or center if you prefer */
}

/* Hide number and button for this specific widget */
.widgetdeactivated2 .markbutton{
    visibility: hidden;
}
/* Keep graph proportion same as other widgets */
.widgetdeactivated2 .historygraph {
    flex: 7; /* same as other widgets */
}
/* Optional: center the graph vertically if needed */
.widgetdeactivated2 {
    justify-content: flex-start; /* or center if you prefer */
}

.wrap { 
    height:400px;
    padding: 2px; 
    border: 1px solid #ccc; 
    max-width:760px ;   /* keeps it from expanding horizontally */
    overflow: hidden;  /* IMPORTANT!!! Prevent flex-expansion */
}
wrap img {
  width:100%;
  height: auto;
  display: block;
}

wrapper{
    gap:12px;
    padding-right: 4px;
    padding-left: 4px;
    border:0.6px solid #505050;
    border-radius: 24px;
}